# Build output directories
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE specific files

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Environment and configuration files (Sensitive data)
*.env
config/*.properties
secret/*.json

# Logs and database files
*.log
*.db

# Backup and temporary files
*~
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
