.search-box {
    position: relative;
    width: 50%;
    /* Adjust width as needed */
}

.search-box input {
    width: 100%;
    padding-left: 2.5rem;
    /* Make space for the icon */
}

.search-box .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.custom-select-arrow {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select-arrow select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding-right: 2rem;
    /* Adjust padding to make space for the arrow */
}

.custom-select-arrow::after {
    content: '▼';
    /* Unicode for down arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
}

.pagination-container {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;


    padding: 10px;
    z-index: 1000;

    display: flex;
    justify-content: center;

}