.bs-grid-block {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.card {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.star:after {
    content: "*";
    color: red;
    margin-right: 5px;
}

.btn-width {
    width: 108px;
}