*{
    color: black;
}
.bs-grid-block {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.card {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-width {
    width: 108px;
}


.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Increased space between rows */
}
.info-label {
    font-weight: bold;
    margin-right: 20px; /* Increased space between label and content */
    width: 200px; /* Adjust width if needed */
    flex-shrink: 0;
    font-size: 16px; /* Increased font size for better readability */
    color: #333;
}
.info-content {
    flex: 1;
    font-size: 16px; /* Increased font size for better readability */
    color: #555;
}
.interviewer-item {
    margin-bottom: 8px; /* Reduced space between interviewer items */
}